#my_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: darkorange;
  }

  #my_div p:hover {
    background-color: lightgray;
    color: white;
    cursor: pointer; /* optional, changes the mouse cursor to a hand to indicate clickability */
  }